.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.skill,
.skill-img {
    height: 64px;
    width: 64px;
}

.tooltiptext-img {
    height: 32px;
    width: 32px;
}

.skill {
    margin: 3px 1px;
    display: inline;
}

#skills {
    margin: 20px 0;
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#tooltiptext-icons {
    float: left;
    width: 15%;
    height: 100%;
}

#rank-value {
    color: blue;
    display: inline;
}

#tooltip-skill-name {
    color: goldenrod;
    text-decoration: underline;
}

#tooltiptext-text {
    margin-left: 15%;
}

.tooltiptext-energy,
.detail-text {
    display: inline;
    text-align: center;
    vertical-align: middle;
    font-size: 10pt;
    font-weight: bolder;
}

#tooltiptext-icons {
    border-style: solid;
    border-color: aliceblue;
    border-radius: 3px;
    border-width: 2px;
    padding: 5px 5px 5px 5px;
    height: 100%;
}

.tooltiptext-img {
    align-content: center;
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;
}

#tooltiptext-icons,
#tooltiptext-text {
    display: inline;
    margin: 10px 0;
}

#tooltiptext-text {
    float: right;
    width: 75%;
}

#skill-prof,
#skill-attribute,
#skill-camp {
    display: inline-block;
    font-size: 10pt;
    font-weight: bold;
}

.tooltip #tooltiptext {
    visibility: hidden;
    width: 300px;
    top: 100%;
    margin-left: -32px;
    background-color: grey;
    font-size: 8pt;
    color: #fff;
    text-align: left;
    border-radius: 10px;
    padding: 2px 0;
    padding-left: 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 9;
}

#tooltiptext {
    overflow: hidden;
}

.tooltip:hover #tooltiptext {
    visibility: visible;
    padding-right: 20%;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}